body{
	background-color: #477148;
}

.maingame {
	display: flex;
	flex-direction: column;
/*	justify-content: space-between;
*/	align-items: center;
}

.compDiv {
	border: 1px solid black;
	margin: 150px;
	height: 300px;
	width: 300px;
}


.playergame {
	display: flex;
	justify-content: space-between;
}
.playerDiv1 {

	border: 1px solid black;
	height:300px;
	width: 300px;
}
.playerDiv2 {
	border: 1px solid black;
	height:300px;
	width: 300px;
}