body{
/*	background-color: #477148;*/
	border: 20px round gray;
	box-shadow: 0 0 300px rgba(10, 10, 10, 8) inset;
}

#maingame {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#compDiv {
	opacity: .8;
	background-color: black;
/*	padding-top: 70px;
	border-radius: 20px;*/
	margin: 150px;

  	box-shadow: 5px 0 white, -5px 0 white, 0 -5px white, 0 5px white, 10px 0 white, -10px 0 white, 0 -10px white, 0 10px white, 0 0 0 5px white, 15px 0 white, -15px 0 white, 0 15px white, 0 -15px white, 0 -5px 0 5px white, 0 5px 0 5px white, 5px 0 0 5px white, -5px 0 0 5px white, 20px 0 #A0A0A0, -20px 0 #A0A0A0, 0 -20px #A0A0A0, 0 20px #A0A0A0, 10px 0 0 5px #A0A0A0, -10px 0 0 5px #A0A0A0, 0 10px 0 5px #A0A0A0, 0 -10px 0 5px #A0A0A0, 0 0 0 10px #A0A0A0;
  	margin: 20px auto;

	height: 300px;
	width: 300px;
}


.matchNum {
	padding-top: 150px;
}

#timer {
	font-family: 'Press Start 2P', cursive;
	font-size: 20pt;
	padding-top: 30px;

}

#dealbutton {
	opacity: .3;
	height: 50px;
}
#checkarrays {
	opacity: .3;
	height: 50px;
}
#refreshbutton {
	opacity: .3;
	height: 50px;
}
$div{
	border: 1px solid black;
}

.mydiv {
	font-family: 'Press Start 2P', cursive;
	padding: 10px;
	width:max-width;
	height:max-height;
	opacity: .8;
	background:black;
	color: white;
	transition-property: margin-left;
	transition-duration: 4s;
	-webkit-transition-property: margin-left; /* Safari */
	-webkit-transition-duration: 2s; /* Safari */
	 margin-left:-4000px;
}

.mydiv.active {
	margin-left:50px;
}

#playergame {
	display: flex;
	justify-content: space-between;
}
#playerDiv1 {
	font-family: 'Press Start 2P', cursive;
	border-radius: 15px 50px 30px 5px;
	/*background-color:lightgray;*/
	/*border: 5px dotted lightblue;*/
	text-align: center;
	font-size: 20pt;
	height: 375px;
	/*width: 300px;*/
	color: black;
}
#playerDiv2 {
	font-family: 'Press Start 2P', cursive;
	font-size: 22pt;
	border-radius: 30px 50px 15px 15px;
	/*border: 5px dotted orange;*/
	text-align: center;
	font-size: 20pt;
	height:325px;
	/*width: 300px;*/
	color:black;
}
#compDiv {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
	bottom: 20px;
	font-size: 20pt;
	color: black;
}
#playerOneInput {
	font-family: 'Press Start 2P', cursive;
	max-width: 30%;
}

#playerTwoInput {
	font-family: 'Press Start 2P', cursive;
	max-width: 30%;	
}

#pOneDisplay {
	font-family: 'Press Start 2P', cursive;
	font-size: 30pt;
}

#pTwoDisplay {
	font-family: 'Press Start 2P', cursive;
	font-size: 30pt;
}

#score1{
	font-family: 'Press Start 2P', cursive;
	text-align: relative;
}
#score2{
	font-family: 'Press Start 2P', cursive;
	text-align: relative;
}

#pOneDiv {
	padding-left: 200px;
}

#pTwoDiv {
	padding-right: 200px;
}

#gamewon {
	font-family: 'Press Start 2P', cursive;
	font-size: relative ;
}
